<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <form class="form-inline" action="#" method="POST" role="form">
            <div class="form-group">
                <label for="search_stock">自选股</label><br>
                <input type="text" class="form-control input-sm" id="search_stock" placeholder="代码">
            </div>
        </form>
    </li>
    <li>
        <a href="#">Dashboard</a>
    </li>
    <li>
        <a href="#">Shortcuts</a>
    </li>
    <li>
        <a href="#">Overview</a>
    </li>
    <li>
        <a href="#">Events</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">Services</a>
    </li>
    <li>
        <a href="#">Contact</a>
    </li>
</ul>